* {
  margin: 0; 
  padding:0;
  box-sizing: border-box;
}

#app, html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E8EFF4;
  font-family: Inter;
}

header {
  text-align: start;
  max-width: 100%;
  font-size: 62px;
}

.topline {
  color: #323D4A;
  margin-top: 69px;
  margin-left: 60px;
  font-weight: 900;  
}

.date {
  color: #9AA7B1;
  font-weight: 500;
  margin-left: 60px;
  margin-top: 21px;;
}

main {
  flex: 1;
}

footer {
  background-color: #FFFFFF;
  padding: 0; 
  text-align: center; 
  padding: 20px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center; 
  max-width: 1080px; 
  margin: 0 auto; /* Zentriert den Container innerhalb des Footers */
  gap: 80px;
}

.footer-container img {
  width: 100%;
  height: auto; 
  padding: 20px;
}

@media (max-width: 768px) {
  .footer-container {
      grid-template-columns: repeat(2, 1fr); /* Zwei Spalten statt drei */
      grid-template-rows: repeat(2, auto); /* Neue Zeile für das dritte Bild */
  }

  .footer-container img:nth-child(3) {
      grid-column: span 2; /* Das dritte Bild nimmt die ganze Breite ein */
  }
}

@media (max-width: 480px) {
  .footer-container {
      grid-template-columns: 1fr; /* Eine Spalte */
      display: block; /* Sicherstellen, dass das Bild angezeigt wird */
  }

  .footer-container img {
      width: 100%; 
      margin: 0 auto; 
  }
}




