* {
  margin: 0; 
  padding:0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E8EFF4;
  font-family: Inter;
}

header {
  text-align: start;
  max-width: 100%;
  font-size: 62px;
}

.topline {
  color: #323D4A;
  margin-top: 69px;
  margin-left: 60px;
  font-weight: 900;  
}

.date {
  color: #9AA7B1;
  font-weight: 500;
  margin-left: 60px;
  margin-top: 21px;;
}

@media (max-width: 481px) {
  header {
    font-size: 14vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 481px) {
  .topline, .date {
    margin-left: auto;
    margin-right: auto;
  }
}

main {
  flex: 1;
}

.monitor {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #0F05A0;
  min-height: 182px;
}

.inner-monitor{
  padding-top: 34.5px;
  padding-left: 35px;
  padding-bottom: 39.5px;
  min-height: 100px;
}

.text-top {
  color: #EB5E00;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
}

.text-middle {
  color: #FFBFAB;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  word-break: break-word;
}

.text-bottom {
  color: #FFBFAB;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

footer {
  background-color: #FFFFFF;
  padding: 20px 0; 
  text-align: center; 
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center; 
  max-width: 1080px; 
  margin: 0 auto; /* Zentriert den Container innerhalb des Footers */
  gap: 80px;
}

.footer-container img {
  width: 100%;
  height: auto; 
  padding: 20px;
}

@media (max-width: 768px) {
  .footer-container {
      grid-template-columns: repeat(2, 1fr); /* Zwei Spalten statt drei */
      grid-template-rows: repeat(2, auto); /* Neue Zeile für das dritte Bild */
  }

  .footer-container img:nth-child(3) {
      grid-column: span 2; /* Das dritte Bild nimmt die ganze Breite ein */
  }
}

@media (max-width: 480px) {
  .footer-container {
      grid-template-columns: 1fr; /* Eine Spalte */
      display: block; /* Sicherstellen, dass das Bild angezeigt wird */
  }

  .footer-container img {
      width: 100%; 
      margin: 0 auto; 
  }
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

